* {
  padding: 0;
  margin: 0;
}
@media (max-width: 680px) {
  section {
    padding: 15px;
  }
  h1 {
    font-size: 2em;
  }
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  color: aliceblue;
  background-color: rgb(176, 176, 228);
  background-image: linear-gradient(rgb(136, 0, 255), rgb(0, 162, 255));
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-image: linear-gradient(rgb(0, 162, 255), rgb(136, 0, 255));
  /* margin: 15px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
img {
  width: 100px;
  border-radius: 10px;
}
.bars {
  width: 90%;
}

.des1 {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-left: 10px;
  background-image: linear-gradient(aqua, rgb(136, 0, 255));
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin: 10px;
  margin-top: 30px;
  padding: 10px 30px;
  width: 280px;
}
tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.des {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-left: 10px;
  background-image: linear-gradient(aqua, rgb(136, 0, 255));
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin: 10px;
  padding: 10px 30px;
  width: 280px;
}

footer {
  background-color: rgb(81, 81, 243);
  background-image: linear-gradient(rgb(136, 0, 255), rgb(0, 162, 255));
  width: 100%;
  height: 70px;
  /* margin: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: aliceblue;
}
